html, body{
    font-family: Arial, Helvetica, sans-serif;
    background: #ccc;
    background: linear-gradient(90deg,#ddd 0%, #bbb 100%);
}

html.dark, body.dark{
    transition: background-color 1s;
    background: #444;
    background: linear-gradient(90deg,#222 0%, #333 100%);
}

.navbar div{
    display: inline-block;
}


.navbar {
    position: absolute;
    height: 90px;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    font-size: 45px;
    background-color: black;
    color: white;
    border-bottom: 6px solid #2D59D5;
    padding-top: 5px;
    padding-bottom: 5px;

    -webkit-box-shadow: 0px 11px 30px 0px #2D59D5CC; 
    box-shadow: 0px 11px 30px 0px #2D59D5CC;
}

a{
    color: white;
}

.navleft { grid-area: 1 / 1 / 2 / 2; margin-left: auto; }
.navmid { grid-area: 1 / 2 / 2 / 3; margin-left: auto; margin-right: auto;} 
.navright { grid-area: 1 / 3 / 2 / 4; margin-right: auto;}


.navleft, .navmid, .navright {
    display: flex;
    align-content: center;
}

.maps{
    left: 20vw;
    width: 60vw;
    position:absolute;
    top: 200px;
}

.players{
    position: absolute;
    top: 200px;
    width: 60vw;
    left: 20vw;
}

.map{
    cursor: pointer;
    position: relative;
    display:flex;
    height: 25vh;
    text-align: right;
}

.map.opened{
    padding-bottom: 29vh;
    margin-bottom: 3vh;
}

.map .image img{
    z-index: 1;
    width: 60vw;
    height: 18.75vh;
    border: 4px solid black;
    position: absolute;
    border-radius: 25px;
    -webkit-box-shadow: 10px 10px 15px 5px #000000AA; 
    box-shadow: 10px 10px 15px 5px #000000AA;
}

.text{
    z-index: 2;
    right: 4px;
    color:white;
    position: absolute;
}

.dropdown{
    background-color: #ccc;
    box-sizing: border-box;
    border: 4px solid black;
    border-top: none;
    border-radius: 25px;
    position: relative;
    top: 16vh;
    padding-top: 3vh;
    width: 60vw;
    z-index: 0;
    text-align: left;
    min-height: 35vh;
    overflow-y: auto;
    -webkit-box-shadow: 10px 10px 15px 5px #000000AA; 
    box-shadow: 10px 10px 15px 5px #000000AA;
}

.dropdown.dark{
    background-color: #333;
    color: white;
}

h1{
    font-size: 5vw;
    margin: 0;
    margin-top: 0.5vh;
}

h2{
    margin-top: 0;
    font-size: 1.25vw;
}

h3{
    font-size: 1vw;
}

.finishercount{
    border-bottom: 5px solid black;
}

.hidden{
    display: none;
}

table, tr, th{
    font-size: 30px;
    border: 1px solid black;
    border-collapse: collapse;
}

.players.dark{
    color: white;
}

td{
    border-left: 1px solid black;
}

.lbfincount{
    border-bottom: 1px dotted black;
}

.tooltip{
    visibility: hidden;
    max-width: 600px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    margin: -20px 10px;
    position: absolute;
    z-index: 1;
}

.lbfincount:hover .tooltip{
    visibility: visible;
}

select{
    background-color: white;
    color: black;
    border: 2px solid lightblue;
    border-radius: 0.3vw;
    height: 3vh;
    font-size: 1vw;
}

.easy{
    background-color: lime;
}

.mid{
    background-color: yellow;
    border: 2px solid orange;
}

.hard{
    background-color: coral;
    border: 2px solid red;
}

.imp{
    background-color: black;
    color: white;
    border: 2px solid gray;
}

.darkmodetoggle{
    bottom: 0;
    left: 0;
    position: fixed;
    max-width: 90px;
    width: 10vw;
    height: auto;
    cursor: pointer;
}