html, body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ccc;
}

.navbar div{
    display: inline-block;
}


.navbar {
    position: absolute;
    height: 90px;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    font-size: 45px;
    background-color: black;
    color: white;
    border-bottom: 6px solid #2D59D5;
    padding-top: 5px;
    padding-bottom: 5px;

    -webkit-box-shadow: 0px 11px 30px 0px #2D59D5CC; 
    box-shadow: 0px 11px 30px 0px #2D59D5CC;
}

a{
    color: white;
}

.navleft { grid-area: 1 / 1 / 2 / 2; margin-left: auto;}
.navmid { grid-area: 1 / 2 / 2 / 3; margin-left: auto; margin-right: auto;} 
.navright { grid-area: 1 / 3 / 2 / 4; margin-right: auto;}


.navleft, .navmid, .navright {
    display: flex;
    align-content: center;
}

.maps{
    left: 20vw;
    width: 60vw;
    position:absolute;
    top: 200px;
}

.map{
    cursor: pointer;
    position: relative;
    display:flex;
    height: 25vh;
    text-align: right;
}

.map.opened{
    padding-bottom: 19vh;
    margin-bottom: 3vh;
}

.map .image img{
    width: 60vw;
    height: 18.75vh;
    border: 4px solid black;
    position: absolute;
    border-radius: 25px;
    -webkit-box-shadow: 10px 10px 15px 5px #000000AA; 
    box-shadow: 10px 10px 15px 5px #000000AA;
}
.text{
    right: 4px;
    color:white;
    position: absolute;
}

.dropdown{
    background-color: #ccc;
    box-sizing: border-box;
    border: 4px solid black;
    border-top: none;
    border-radius: 25px;
    position: relative;
    top: 16vh;
    padding-top: 3vh;
    width: 60vw;
    z-index: -5;
    text-align: left;
    max-height: 25vh;
    overflow-y: scroll;
}

h1{
    font-size: 5vw;
    margin: 0;
    margin-top: 0.5vh;
}

h2{
    font-size: 1.25vw;
}